.App {
  width: 1200px;
  margin: 0 auto;
}

.title {
  font-size: 32px;
  text-align: center;
  margin: 0 0 10px;
  padding: 10px 0 0;
  color: #fff;
}

.card-body {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.card-main {
  width: calc(20% - 20px);
  margin: 10px;
  border-radius: 3px;
  padding: 15px;
  box-sizing: border-box;
  background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
                radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
  transition: all 0.5s;
  height: 315px;
}

.card-main:hover {
  transform: scale(1.05);
  cursor: pointer;
  background-size: 150% 150%;
  -webkit-animation: Animation 3s ease infinite;
  -moz-animation: Animation 3s ease infinite;
  animation: Animation 3s ease infinite;
}

.card-img {
  border-radius: 3px;
}

.card-img img {
  width: 100%;
  margin: 0 auto;
}

.card-name {
  text-transform: capitalize;
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0;
  color: #fff;
}

.card-stats {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.card-stats span{
  width: calc(50% - 6px);
  display: block;
  font-size: 14px;
  margin: 0 2px 5px 0;
  color: #fff;
  background: rgba(49, 30, 6, .54);
  padding: 2px;
}

.card-stats span:nth-child(2n){
  margin: 0 0px 5px 2px;
}

.card-main {
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.card-main.is-flipped {
  transform: rotateY(180deg);
}

.card-face {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  width: calc(100% - 30px);
  height: calc(100% - 30px);
}

.card-back {
  transform: rotateY(180deg);
}

.circle-img {
  position: relative;
}

.circle-img img {
  border-radius: 50%;
  border: 2px solid rgba(49, 30, 6, 0.7);
  width: 80px;
  background: #fff;
  transform: rotateY(180deg);
}

.card-id, .circle-id {
  position: absolute;
  font-size: 16px;
  color: #fff;
  font-weight: bold;
  right: -5px;
  top: -5px;
}

.card-description {
  color: #fff;
}

.card-description-list span {
  text-transform: capitalize;
}

.card-description-list {
  display: none;
}

@-webkit-keyframes Animation {
  0%{background-position:10% 0%}
  50%{background-position:91% 100%}
  100%{background-position:10% 0%}
}
@-moz-keyframes Animation {
  0%{background-position:10% 0%}
  50%{background-position:91% 100%}
  100%{background-position:10% 0%}
}
@keyframes Animation { 
  0%{background-position:10% 0%}
  50%{background-position:91% 100%}
  100%{background-position:10% 0%}
}


/* List View CSS*/

.list .card-main {
  height: 130px;
  width: 100%;
}

.list .card-face {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.list .card-description {
  width: 60%;
}

.list .card-img img {
  width: 80px;
}

.list .card-description-list {
  display: block;
  width: 50%;
  color: #fff;
}

.list .card-main:hover {
  pointer-events: none;
  transform: none;
  background-size: 100%;
  -webkit-animation: none;
  -moz-animation: none;
  animation: none;
}

/* Media Query 1200px and below */
@media screen and (max-width: 1200px) and (min-width: 961px) {
  .App {
    width: 960px;
    margin: 0 auto;
  }
  .card-main {
    width: calc(25% - 20px);
  }
  .list .card-description-list {
    width: 40%;
  }
  .list .card-stats {
    width: 25%;
  }
}

/* Media Query 960px and below */
@media screen and (max-width: 960px) and (min-width: 768px) {
  .App {
    width: 768px;
    margin: 0 auto;
  }
  .card-main {
    width: calc(33% - 20px);
    height: 330px;
  }
  .list .card-description-list {
    width: 40%;
  }
  .list .card-stats {
    width: 25%;
  }
  .list .card-id {
    font-size: 14px;
    right: -7px;
    top: -7px;
  }
}

/* Media Query 960px and below */
@media screen and (max-width: 767px) {
  .App {
    width: 320px;
    margin: 0 auto;
  }
  .switch-parent {
    display: none;
  }
  .card-main {
    width: calc(100% - 20px);
    display: flex;
    height: 140px;
    pointer-events: none;
  }
  .card-img img {
    width: 60%;
    margin: 0 auto;
    display: block;
  }
  .card-name {
    display: none;
  }
  .card-img img {
    width: 80px;
    margin: -15px 15px 0 0;
  }
  .card-face {
    flex-wrap: wrap;
    display: flex;
  }
  .card-stats {
    width: 60%;
  }
  .card-stats span {
    font-size: 10px;
  }
  .card-description-list {
    width: 100%;
    font-size: 10px;
    display: block;
    color: #fff;
  }
  .card-main:hover {
    pointer-events: none;
    transform: none;
    background-size: 100%;
    -webkit-animation: none;
    -moz-animation: none;
    animation: none;
  }
  .card-id {
    font-size: 12px;
    right: -11px;
    top: -11px;
  }
  .card-back.card-face {
    display: none;
  }
}